html {
  font-family: "Ubuntu Condensed", sans-serif;
}

section {
  background-image: url("../images/starfield.png");
}

.img-star {
  position: relative;
}

.text-box {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.text-main {
  text-shadow: 1px 1px 6px rgba(255, 255, 255, .7);
}

a {
  color: #b4fff4;
  text-decoration: none;
}

.btn-main {
  border-width: 2px;
  border-style: solid;
  border-color: #b4fff4;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.btn-ghost {
  background-color: rgba(180, 255, 244, 0);
  border-width: 2px;
  border-style: solid;
  border-color: #b4fff4;
  border-radius: 15px;
  padding-left: 0;
  padding-right: 0;
  transition: all .2s linear;
}

.btn-ghost:hover {
  background-color: rgba(180, 255, 244, .2);
  border-color: #90ccc3;
}

.btn-main:hover {
  background-color: rgba(180, 255, 244, 0);
  border-color: #90ccc3;
}

.rocket:hover {
  -webkit-animation: bounce 1s linear infinite;
}

a:focus {
  border-color: rgba(180, 255, 244, 0);
}

.btn-ghost:active {
  top: -10px;
}

@-webkit-keyframes bounce {

  from {
    -webkit-transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-.4em);
  }

}
